<template>
  <v-app>
    
    <main-app-bar />

    <v-main>
      <v-container>
        <v-fade-transition mode="out-in">
          <router-view />
        </v-fade-transition>
      </v-container>
    </v-main>

    <!--main-footer /-->
  </v-app>
</template>

<script>

export default {
  name: "MainLayout",

  components: {
    MainAppBar: () => import('../components/MainMenu.vue'),
    // AppBar: () => import('@/components/AppBar'),
    // Footer: () => import('@/components/Footer'),
    // Settings: () => import('@/components/Settings'),
    // SystemBar: () => import('@/components/SystemBar'),
  },
};
</script>
