{% extends 'base.html.twig' %}

{% block title %}Nutshell{% endblock %}

{% block body %}
<div id="app">
<div id="lds">
    <div class="lds-dual-ring"></div>
    <p>The app is loading</p>   
</div>
</div>
{% endblock %}
