<template>
  <div>404</div>
</template>

<script>
// import example from '../components/example';

export default {
  name: "NotFound",
  components: {
  },
  computed: {},
  mounted() {},
};
</script>
