<template>
    <div class="hello">
        <h1>{{ $t('message.hello') }}</h1>
        <p>{{ $t('message.word', {msg: this.message}) }}</p>
        <p>{{ $tc('message.basket', this.number, {count: this.number}) }}</p>
    </div>
</template>

<script>
    export default {
        name: 'hello',
        data(){
            return {
                message: 'bob',
                number: 1
            }
        }
    }
</script>
