<template>
  <div>
    <v-app-bar id="main-app-bar" app color="white" elevate-on-scroll>
      <!-- Logo here-->
      <h1>AppName</h1>

      <v-spacer />
      <!-- DESKTOP -->

      <!-- Search bar-->

      <!-- Tabs -->
      <div>
        <v-tabs class="hidden-sm-and-down" optional>
          <v-tab
            v-for="(element, index) in menu_items"
            :key="index"
            :to="{ path: element.route }"
            :ripple="false"
            active-class="text--secondary"
            text
          >
            <v-icon :left="'label' in element">{{ element.icon }}</v-icon>
            {{ $t(element.label) }}
          </v-tab>
        </v-tabs>
      </div>

      <!-- Actions -->
      <v-menu v-for="action in dropdown" :key="action.label" bottom offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon class="hidden-sm-and-down">
            <v-icon>{{ action.icon }}</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, index) in action.actions"
            :key="index"
            :to="{ path: item.route }"
          >
            <v-list-item-icon>
              <v-icon>{{ action.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ $t(item.label) }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

      <!-- MOBILE -->
      <v-app-bar-nav-icon class="hidden-md-and-up" @click="burger = !burger" />
    </v-app-bar>
    <main-burger-menu
      v-model="burger"
      :menu_items="menu_items"
      :dropdown="dropdown"
    />
  </div>
</template>

<script>
export default {
  name: "MainAppBar",

  components: {
    MainBurgerMenu: () => import("../components/MainBurgerMenu.vue"),
  },

  data: () => ({
    burger: null,
    menu_items: [
      {
        route: "/",
        label: "menu.home", // match the key in translation file
        icon: "mdi-home",
      },
      {
        route: "contact",
        label: "menu.contact",
        icon: "mdi-pen",
      },
    ],
    dropdown: [
      {
        label: "menu.account",
        icon: "mdi-account-circle-outline",
        actions: [
          { label: "menu.login", route: "login", icon: "mdi-login" },
          { label: "menu.other", route: "", icon: "mdi-logout" },
        ],
      },
    ],
  }),
};
</script>

<style>
.v-tab {
  text-transform: none !important;
  color: black !important;
}

#main-app-bar .v-tabs-slider {
  max-width: 100%;
  margin: 0 auto;
}

#main-app-bar .v-tabs-slider .v-tab::before {
  display: none;
}
</style>
