<template>
  <v-navigation-drawer
    absolute
    right
    temporary
    v-bind="$attrs"
    v-on="$listeners"
  >
    <v-list-item>
      <v-list-item-content>
        <v-list-item-title class="title">
          Application
        </v-list-item-title>
        <v-list-item-subtitle>
          subtext
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <v-divider></v-divider>

    <v-list color="white" nav>
      <!-- Tabs -->
      <v-list-item
        v-for="(item, index) in menu_items"
        :key="index"
        :to="{ path: item.route }"
        :exact="index === 0"
        color="primary"
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title> {{ $t(item.label) }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <!-- Actions -->
      <v-list-group
        v-for="(item, index) in dropdown"
        :key="index + 100"
        :prepend-icon="item.icon"
        expand="false"
        value="true"
      >
        <template v-slot:activator>
          <v-list-item-title>{{ $t(item.label) }}</v-list-item-title>
        </template>

        <v-list-item v-for="(action, i) in item.actions" :key="i + 200" link>
          <v-list-item-icon>
            <v-icon>{{ action.icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-title>{{ $t(action.label) }}</v-list-item-title>
        </v-list-item>
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: "MainBurgerMenu",

  props: {
    menu_items: {
      type: Array,
      default: () => [],
    },
    dropdown: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
