<template>
    <div>
        <h1>Vue Axios Post</h1>

        <form @submit="submitForm" ref="form">
            <v-text-field
                    v-model="name"
                    :error-messages="errors.name"
                    :count="255"
                    :readonly="loading"
                    label="Name"
                    required
            ></v-text-field>
            <v-text-field
                    v-model="mail"
                    :error-messages="errors.mail"
                    :readonly="loading"
                    label="E-mail"
                    required
            ></v-text-field>
            <v-text-field
                    v-model="password"
                    type="password"
                    :error-messages="errors.password"
                    :readonly="loading"
                    label="Password"
                    required
            ></v-text-field>

            <v-btn
                    class="ma-2"
                    type="submit"
                    :loading="loading"
                    :disabled="loading"
                    color="primary"
            >
                Submit <v-icon medium>{{icons.pencil}}</v-icon>
            </v-btn>
        </form>
        <strong>Output:</strong>
        <pre>{{output}}</pre>
    </div>
</template>

<script>
    const axios = require('axios');
    import {mdiPencil} from '@mdi/js';


    export default {
        name: 'poster',
        data() {
            return {
                name: '',
                password: '',
                mail: '',
                errors: {},
                output: '',
                loader: null,
                loading: false,
                icons: {
                    pencil: mdiPencil,
                }
            };
        },
        methods: {

            submitForm(e) {
                e.preventDefault();



                let currentObj = this;
                currentObj.errors = {};
                currentObj.loading = true;

                axios
                    .post('http://localhost:8000/api/users', {
                        name: this.name,
                        password: this.password,
                        mail: this.mail,
                    })
                    .then(function (response) {
                        currentObj.loading = false;
                        currentObj.$refs.form.reset();

                        currentObj.output = response;
                    })
                    .catch(function (error) {
                        currentObj.loading = false;
                        currentObj.updateErrors(error.response.data.violations);

                        currentObj.output = error.response;
                    });
            },
            updateErrors(violations) {
                let currentObj = this;
                for (const violation of violations) {
                    currentObj.$set(currentObj.errors, violation.propertyPath, this.$t(`error["${violation.message}"]`));
                    console.log(currentObj.errors);
                }
            }
        }
    }
</script>
