<template>
  <section :id="id">
    <v-row no-gutters>
      <v-col cols="12">
        <component
          :is="`section-${section}`"
          v-for="section in sections"
          :key="section"
        />
      </v-col>
    </v-row>
  </section>
</template>

<script>
  export default {
    name: 'Sections',

    props: {
      id: {
        type: String,
        default: 'sections',
      },
    },

    data: () => ({ sections: [] }),
  }
</script>