<template>
  <div class="users">
    <h1>Your users</h1>

    <v-skeleton-loader v-if="!users[0]" type="list-item-avatar-two-line">
    </v-skeleton-loader>

    <v-list v-else two-line subheader>
      <v-list-item v-for="user in users" :key="user.name">
        <v-list-item-avatar>
          <v-icon v-text="icons.face"></v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title v-text="user.name"></v-list-item-title>
          <v-list-item-subtitle v-text="user.mail"></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <!--v-btn icon>
                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                    </v-btn-->
        </v-list-item-action>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
import { mdiHead } from "@mdi/js";

const axios = require("axios");

export default {
  name: "users",
  data: () => ({
    users: [],
    icons: {
      face: mdiHead,
    },
  }),
  mounted() {
    axios
      .get("http://localhost:8000/api/users?page=1")
      .then((response) => {
        this.users = response.data["hydra:member"];
      })
      .catch((error) => {
        this.users = [];
      });
  },
};
</script>

<style scoped></style>
